/*
Colores & tipografía: 
Verde - #ABE188;
Rosa - #F78E69;
font-family: 'Raleway', sans-serif;
*/

/* Escribe tu código acá debajo */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway';
	font-size: 16px;
}

/* Seccion de bienvenida*/
.encabezado{
	background-size: cover;
	background-position: center;
	background-color: #F78E69;
	padding: 50px 0;

}

.content {
	color: white;
	text-align: right;
	margin-right: 20px;
}

.content h1{
	font-weight: bolder;
 	font-size :2.5rem;
 	line-height: 2.5rem;
}
